:root {
    /* --clr-9: #ea5dc0; */
    --clr-9: #e940b7;
    --border-clr: 1px solid var(--clr-9);
}

.header-middle, 
.footer-static-middle,
.header-sticky.sticky {
    background: rgb(255 250 253);
}
.header-sticky.sticky {
    background: var(--clr-9);
}
.mobile-header-search.sticky {
    background: rgb(247 253 255);
}

.product-card-1 .card-content {
    background: #effbff;
}
#home-banner img {
    background: #c5e4ff;
    height: clamp(10.5em, 28vw, 19.8em);
}

.hb-menu > nav > ul {
    column-gap: 2.2em;
}
.hb-menu-2 nav > ul > li > a {
    font-size: 0.95em;
    padding: 12px 0;
}
.hb-menu-2 nav > ul > li > a > span {
    display: none;
}
/* .cat-card {
    background: var(--tw-slate-200);
    padding: 0;
    overflow: hidden;
}
.cat-card img {
    max-height: unset;
    height: 11em;
    width: 100%;
}
.cat-card h4 {
    margin: 0.6em 0 0.5em 0em;
} */
.sliderContainer {
    background: linear-gradient(182deg, #fff5fc, #caf3ff00);
}
.mobile-product-card .controlled-btn {
    background: #fff6fd;
    border: 1px solid #eca7d7;
    color: var(--clr-9);
}
.footer-newsletter .form-group .btn, .add_an_item_btn {
    background: linear-gradient(var(--clr-9), #df5349);
}

.header-main-logo img {
    transform: scale(1.3) translateX(0.7em);
}

@media only screen and (min-width: 768px) {
    .header-main-logo {
        padding-right: 11em;
    }
    .header-main-logo img {
        transform: scale(2) translateX(1.5em);
    }
}

/* @media only screen and (max-width: 768px) {

} */